<div class="card">
            <h4 class="card-header"><strong>
                Lista de Preguntas
            </strong></h4>
            <div class="card-body">
                <a class="btn btn-primary" href="/preguntas/guardar" role="button">
                <i class="fas fa-file" aria-hidden="true"></i>
                Nueva</a>
                <hr>
        <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Opcion1</th>
                        <th scope="col">Opcion2</th>
                        <th scope="col">Opcion3</th>
                        <th scope="col">Correcta</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Operaciones</th>
                      </tr>
                    </thead>
            <tbody>
              {{#each reactivos}}
                      <tr>
                <th scope="row">{{id}} </th>
                <td>{{nombre}} </td>
                <td>{{opcion_1}} </td>
                <td>{{opcion_2}} </td>
                <td>{{opcion_3}} </td>
                <td>{{correcta}} </td>
                <td>{{idCategoria}} </td>
                <td>  
            
                        <a class="btn " href="/preguntas/eliminar/{{id}}" role="button" style="background-color: brown;">
                          
                          <i class="bi bi-trash3-fill"></i>
                        </a></td>
                      </tr>
                      {{/each}}
            </tbody>
        </table>
    </div>
</div>